.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-indicators {
  & li {
    border-radius: 2px;
    margin: 0 1rem;
    background-color: white;
    height: 2rem;
    width: 2rem;
    box-shadow: 0px 3px 6px black;

    &.active {
      background-color: $colour-primary;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
