// Contact Form

.contact-form {
  border-radius: 3px;
  padding: 1rem;
  background-color: $colour-light;
}

textarea {
  resize: none;
}

.form-check {
  margin: 1rem 0 1rem 0;
}

.fas {
  margin-bottom: 1rem;
  font-size: 25px;
}
