.navbar {
  background-color: $colour-light;
}

.navbar-brand {
  font-family: $headings-font-family;
  font-weight: 700;
  font-style: italic;
}

.navbar-light .navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  background-color: white;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: $colour-dark;
}
