.tab-content {
  background: white;
  min-height: 200px;
  padding: 1em;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #dee2e6;
  margin-top: -16px;
}

.social-media-tabscontent {
  width: 120px;
  justify-content: space-between;
  display: flex;
  color: $colour-dark;
  margin-bottom: 1rem;
}
